*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: antiquewhite;
}
.profile{
  margin-top: 50px;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}